table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .NavbarItems{
    /*background-color: #3ee577;*/
    /*background-image: linear-gradient(315deg, #3ee577 0%, #42fcdb 74%);*/
    background: linear-gradient(to right,white,black);
    display: flex;
    flex: 33.33%;
    align-items: center;
    font-size: 1.2rem;
}
.head{
    color:#191970;/*#000080#40E0D0#191970*/
    /* color: #fff; */
    align-items: center;
    margin: auto;
    font-size: x-large;
}
  